body {
  font-family: 'ABeeZee', sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ABeeZee', sans-serif !important;
}
thead,
tr,
th {
  font-family: 'ABeeZee', sans-serif !important;
}
.s11 {
  font-size: 11px !important;
}
.poppins {
  font-family: 'Poppins', sans-serif !important;
}
html {
  scroll-behavior: smooth;
}
.header_area .navbar .nav .nav-item:hover .nav-link,
.header_area .navbar .nav .nav-item.active .nav-link {
  color: #ef3d59 !important;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item :hover {
  background: #fff;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
  color: #000 !important;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
  color: #fff !important;
  border: none !important;
  background: #ef3d59 !important;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item {
  border: none !important;
}
.nav-shop li button .nav-shop__circle {
  background: #ef3d59 !important;
}
.border-radius {
  border-radius: 100px;
}
.button:hover {
  border: 1px solid #ef3d59 !important;
}
.footer-bottom {
  background: #ef3d59 !important;
}
.single-footer-widget .sm-head span {
  background: #ef3d59 !important;
}
.tp_widgets .list li a :hover {
  color: #fff !important;
}
.subscribe-form button {
  background: #ef3d59 !important;
  border: 1px solid #ef3d59 !important;
}
.subscribe-form button :hover {
  color: #fff !important;
}
.hero-carousel__slideOverlay {
  background: #ef3d59 !important;
}
.section-intro__style {
  font-family: 'Poppins', sans-serif;
  border-bottom: 0px !important;
}
.card-product__imgOverlay li button {
  background: #ef3d59 !important;
}
.card-product__title a {
  transition: 0.5s !important;
  font-family: 'Poppins', sans-serif;
}
.card-product__title a :hover {
  color: #ef3d59 !important;
}
.sidebar-categories .head {
  background: #ef3d59 !important;
}
.sidebar-filter .top-filter-head {
  background: #ef3d59 !important;
}
.pixel-radio:checked {
  border: 8px solid #ef3d59 !important;
}
.s_product_text h2 {
  color: #ef3d59;
}
.button {
  border: 1px solid #ef3d59 !important;
  background: #ef3d59 !important;
}
.button :hover {
  background: #fff !important;
  color: #fff !important;
}
.product_count {
  width: 100%;
}
.product_description_area .nav.nav-tabs li a.active {
  background: #ef3d59 !important;
  border-color: #ef3d59 !important;
}
.product_description_area .tab-content .total_rate .box_total h4 {
  color: #ef3d59 !important;
}
.product_count input {
  width: 100% !important;
}
.footer {
  background-color: #fafafa;
  padding: 0px !important;
}
.agile__nav-button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
  width: 80px;
}
.agile__nav-button:hover {
  background-color: rgba(0,0,0,0.5);
  opacity: 1;
}
.agile__nav-button--prev {
  left: 0;
}
.agile__nav-button--next {
  right: 0;
}
.agile__dots {
  bottom: 10px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.agile__dot {
  margin: 0 10px;
}
.agile__dot button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}
.agile__dot--current button,
.agile__dot:hover button {
  background-color: #fff;
}
.slide {
  display: block;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.floater {
  position: fixed !important;
  right: 20px;
  bottom: 120px;
  width: 50px;
  height: 130px;
}
.floater .scrolltop {
  background: #228ecc;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  position: absolute;
  right: 5px;
  bottom: 50px;
  cursor: pointer;
}
.floater .search-wrap {
  width: 40px;
  height: 40px;
  background: #222;
  border-radius: 20px;
  color: #fff;
  position: absolute;
  bottom: 50px;
  right: 5px;
  cursor: pointer;
/* Safari */
  transition: all 0.5s;
  overflow: hidden;
}
.floater .search-wrap:hover {
  width: 240px;
}
.floater .search-wrap:hover .search-field {
  opacity: 1;
  display: inline-block;
}
.floater .search-wrap span {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
}
.floater .search-wrap .search-field {
  width: 170px;
  display: none;
  float: left;
  margin: 10px 0px 0px 15px;
  line-height: 20px;
  border-radius: 10px;
  padding: 0px 5px;
  border: none;
}
.floater .share-wrap {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #222;
  line-height: 40px;
  text-align: center;
}
.floater .share-wrap ul {
  position: absolute;
  height: 40px;
  width: auto;
  right: 0px;
  top: 0;
  margin: 0px;
  padding: 0px;
  display: block;
}
.floater .share-wrap ul:hover {
  width: 135px;
}
.floater .share-wrap ul:hover li.twit {
  right: 45px;
/* IE 9 */
/* Chrome, Safari, Opera */
  transform: rotate(-360deg);
}
.floater .share-wrap ul:hover li.insta {
  right: 45px;
/* IE 9 */
/* Chrome, Safari, Opera */
  transform: rotate(-360deg);
}
.floater .share-wrap ul:hover li.facebook {
  right: 90px;
/* IE 9 */
/* Chrome, Safari, Opera */
  transform: rotate(-360deg);
}
.floater .share-wrap ul:hover li.gplus {
  right: 135px;
/* IE 9 */
/* Chrome, Safari, Opera */
  transform: rotate(-360deg);
}
.floater .share-wrap ul li.twit {
  background: #4aa9d1;
}
.floater .share-wrap ul li.insta {
  background: #c13584;
}
.floater .share-wrap ul li.facebook {
  background: #3b5998;
}
.floater .share-wrap ul li.gplus {
  background: #d13f2d;
}
.floater .share-wrap ul li {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: block;
  padding: 0px 0px;
  color: #fff;
  cursor: pointer;
/* Safari */
  transition: all 0.5s;
  list-style: none;
  position: absolute;
  right: 0;
}
.floater .share-wrap ul li.shareclk {
  background: #ce020c;
  color: #fff;
}
.logo {
  max-width: 150px;
  max-height: 150px;
}
.logo img {
  width: 100%;
}
.button-blog :hover {
  background: #fff !important;
  border: #ef3d59 !important;
}
.blog-pagination .page-item.active .page-link {
  background: #ef3d59 !important;
}
.blog-pagination .page-link :hover {
  background: #ef3d59 !important;
}
.blog_right_sidebar .widget_title {
  background: #ef3d59 !important;
}
.blog_info .post_tag a.active {
  color: #ef3d59 !important;
}
.blog_info .blog_meta li a :hover {
  color: #ef3d59 !important;
}
.banner2-section {
  height: 350px;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.card-blog__link :hover {
  color: #ef3d59 !important;
}
.blog_right_sidebar .tag_cloud_widget ul li :hover {
  background: #ef3d59 !important;
}
.cart_inner .table tbody tr.out_button_area .checkout_btn_inner .primary-btn {
  background: #ef3d59 !important;
}
.gray_btn :hover {
  color: #ef3d59 !important;
}
.buttons {
  margin: 10%;
  text-align: center;
}
.btn-hover {
  width: 200px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #fff !important;
  cursor: pointer !important;
  margin: 20px !important;
  height: 55px !important;
  text-align: center !important;
  border: none !important;
  background-size: 300% 100% !important;
  border-radius: 50px !important;
  moz-transition: all 0.4s ease-in-out !important;
  transition: all 0.4s ease-in-out !important;
}
.btn-hover:hover {
  background-position: 100% 0 !important;
  moz-transition: all 0.4s ease-in-out !important;
  transition: all 0.4s ease-in-out !important;
}
.btn-hover:focus {
  outline: none !important;
}
.btn-hover.color-10 {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #fbb03b) !important;
  box-shadow: 0 4px 15px 0 rgba(236,116,149,0.75) !important;
  padding: 15px !important;
  font-family: 'Poppins', sans-serif !important;
}
.btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6b8dd6, #8e37d7) !important;
  box-shadow: 0 4px 15px 0 rgba(116,79,168,0.75) !important;
  padding: 15px !important;
  font-family: 'Poppins', sans-serif !important;
}
.tachado {
  text-decoration: line-through;
}
.ribbon span {
  width: 150px;
  height: 34px;
  top: 20px;
  right: -40px;
  position: absolute;
  display: block;
  background: #f00;
  color: #333;
  font-family: arial;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 34px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  font-family: 'Roboto' !important;
}
.custom-img-card {
  height: 250px;
  width: 250px;
}
.w-100 {
  width: 100% !important;
}
.pagination .page-item {
  margin: 11px !important;
}
.pagination .page-item .page-link {
  color: #000 !important;
  font-family: 'Poppins' !important;
}
.pagination .page-item.active .page-link {
  background: #ef3d59 !important;
  border: 0px;
  color: #fff !important;
}
.s15 {
  font-size: 15px !important;
}
.s18 {
  font-size: 18px !important;
}
.s20 {
  font-size: 20px !important;
}
.s25 {
  font-size: 25px !important;
}
.bold {
  font-weight: bold !important;
}
.roboto {
  font-family: 'Roboto' !important;
}
#menu {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 165px;
}
#banner {
  padding-top: 150px !important;
}
#searchButton,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.header_area .navbar .nav .nav-item {
  margin: 15px;
}
.pointer {
  cursor: pointer;
}
#bannerProduct {
  height: 250px;
  background-position: center center !important;
}
.bottom-bar {
  position: fixed !important;
  bottom: 0px !important;
  z-index: 1000 !important;
  background-color: #ef3d59 !important;
}
.footer-button {
  width: 35px !important;
  height: 35px !important;
  cursor: pointer;
}
#bannerSilder {
  overflow: hidden !important;
}
.review_box .list li a {
  color: #555 !important;
}
.star-value :hover {
  color: #ffc107 !important;
}
.pointer {
  cursor: pointer !important;
}

